<!DOCTYPE html>

<html ng-app="MyApp">
<head>
    <title>angular-plaid-link example</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="angular-plaid-link.js"></script>
    <script src="https://cdn.plaid.com/link/stable/link-initialize.js"></script>
    <script src="link.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script type="text/javascript">
    (function($) {
      var handler = Plaid.create({
        clientName: 'Plaid Quickstart',
        env: 'development',
        key: '207c626a8a9e6dfd589a5c59270dab',
        product: 'auth',
        // Optional – use webhooks to get transaction and error updates
        onSuccess: function(public_token, metadata) {
              // $scope.token = token;
              // console.log($scope.token);

              var xmlHttp = new XMLHttpRequest();
              xmlHttp.open( "POST", "https://finance-genie.herokuapp.com/account/get_access_token/", true ); // false for synchronous request
              xmlHttp.setRequestHeader("Content-type", "applicatibon/x-www-form-urlencoded");
              xmlHttp.send("public_token=" + public_token);
              let result = JSON.parse( xmlHttp.responseText)
              if (result["error"] != null){
                console.log(result["Error Message"])
              } else {
                console.log(result["Access Token"])
              }
          },
          onExit: function(err, metadata) {
              if(err != null){
                console.log(err)
              }
          }
      });
    
      $('#link-button').on('click', function(e) {
        handler.open();
      });
    })(jQuery);
    </script>
</head>


<body ng-controller="mainCtrl">
    {{token}}
    <div class="container">
        <div class="clearfix">
            <h1 class="pull-left">Angular Plaid Link Example</h1>

            <ul class="list-unstyled pull-right" style="margin-top: 10px;">
                <li><strong>Docs:</strong></li>
                <li><a href="https://github.com/plaid/link">Plaid Link</a></li>
                <li><a href="https://github.com/csbarnes/angular-plaid-link">angular-plaid-link</a></li>
            </ul>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-6">
                <p><strong>Bank Select</strong></p>
                <button class="btn btn-success" id="link-button">Link Account</button>

                <br/>
                <br/>
                <p><em>or</em></p>

                <p><strong>Direct Bank Login</strong></p>

                <button class="btn btn-primary" ng-click="openPlaid('chase')" ng-disabled="!plaidIsLoaded()">
                    Link Chase
                </button>

                <button class="btn btn-danger" ng-click="openPlaid('bofa')" ng-disabled="!plaidIsLoaded()">
                    Link Bank of America
                </button>
            </div>

            <div class="col-md-6">
                <h4>Public Token:</h4>
                <pre>{{token}}</pre>
            </div>
        </div>
    </div>
</body>
</html>