.btn-login {
	background-color: #6ca8e1;
}

.btn-login:hover {
	background-color: #3e8fda;

}

.btn-signup {
	background-color: #ac99d6;
}

.btn-signup:hover {
	background-color: #8e72ca;
}

.vertical-center {
  height: 80%;  /* Fallback for browsers do NOT support vh unit */
  height: 80vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
