<!DOCTYPE html>
<html>
<head>
  <title>Finance Genie</title>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-database.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="index.css">

  <!-- Custom script source -->
	<script src="../javascript/firebase_operation.js"></script>
	<script src="../javascript/index.js"></script>

	<!-- Load data-->
	<script type="text/javascript">
		initIndex();
	</script>
</head>

<body style="background-color: powderblue;">
  <div class="jumbotron jumbotron-fluid vertical-center">
    <div class="container">
      <div class="row">
	<div class="col">
	  <!-- header with title -->
	  <h1 class="display-3">Finance Genie</h1><br>
	  <p class="text-muted">Financial management made simple</p>
	  <hr class="my-3">

	  <!-- about box with information -->
	  <p class="lead">This is information about Finance Genie</p>
	</div>

	<!-- login & sign-up box -->
	<div class="col-4">
	  <form>
	    <h4 class="display-5 pb-3">Login</h4>
	    <input type="email" class="form-control" id="email" placeholder="E-mail"><br>
	    <input type="password" class="form-control" id="password" placeholder="Password"><br>
	  </form>
	  <!-- login and sign-up buttons -->
	  <div class="d-flex justify-content-center align-items-center">
	    <button type="button" class="btn btn-login mr-2" style="width: 60%;"  onclick="signInOperation()">Login</button>
	    <button type="button" class="btn btn-signup ml-2" style="width: 60%;" onclick="location.href='signup.html'">Sign-Up</button>
	  </div>
	</div>
      </div>
    </div>

  </div>
</body>

</html>
