<!DOCTYPE html>
<html>
  <head>
    <title>Sign-Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="signup.css">
  </head>

  <body style="background-color: powderblue;">
    <div class="jumbotron jumbotron-fluid vertical-center">
      <div class="container">
	<h1 class="display-4 text-center">Sign-Up</h1>
	<hr class="my-4">

	<form class="mx-auto mb-3" style="width: 55%;">
	  <p class="lead">Enter Username:</p>
	  <input type="text" class="form-control" id="username"><br>
	  <p class="lead">Enter Password:</p>
	  <input type="text" class="form-control" id="password"><br>
	  <p class="lead">Confirm Password:</p>
	  <input type="text" class="form-control" id="confirm_password"><br>
	</form>

	<div class="d-flex justify-content-center align-items-center">
	  <button type="button" class="btn btn-signup" style="width: 30%;">Sign-Up Now</button>
	</div>
      </div>
    </div>
  </body>

</html>
